@media only screen and (max-width: 812px) {
  html, body {
    margin: 0px;
    padding: 0px;
  }
  body {
    width: 100% !important;
  }
  .article-img {
    width: 105%;
    height: auto;
    margin: 0px !important;
  }
  .left {
    display: none !important;
  }
  .right {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    font-size: 15px !important;
    width: calc(100% - 20px) !important;
    position: relative !important;
    padding-bottom: 80px;
  }
  .right p, .right blockquote {
    font-size: 15px !important;
  }
  .right h1 {
    margin-top: 10px;
    font-size: 19px !important;
  }
  .right h2 {
    font-size: 17px !important;
  }
  .left {
    display: none !important;
  }
  .right code {
    font-family: 'Fira Mono';
    font-size: 12px !important;
  }
  .right pre {
    margin-left: 0px;
    font-size: 12px !important;
  }
  .timestamp {
    display: none;
  }
}
